map-settings{
        ion-range {
        margin:0px !important;
        padding: 0px !important;
        border-top: none;
        border-bottom: none;
    }
        ion-select {
            min-width: 150px;
        }
}