<ion-card>
  <div>
    <ion-list>
      <ion-item>
        <ion-label color="dark"> Map Type </ion-label>
        <ion-select [(ngModel)]="settings.reportType" (ionChange)="reportTypeChanged()">
          <ion-option *ngFor="let report of reportTypes" [selected]="report==reportType" value="{{report}}"> {{report}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <hr/>
    <results-settings *ngIf="settings.reportType=='Results'" [settings]="resultsSettings" (ionChange)="updateResults()"> </results-settings>
    <prediction-settings *ngIf="settings.reportType=='Predictions'" (ionChange)="changePrediction()"> </prediction-settings>
    <analysis-settings *ngIf="settings.reportType=='Analysis'" [settings]="analysisSettings" (ionChange)="reloadAnalysis()">
    </analysis-settings>
    <button ion-button block (click)="reloadMap()">Submit</button>
  </div>
</ion-card>