<ion-card>
  <ion-buttons end>
    <button clear small *ngIf="!hidden" ion-button (click)="toggle()" end> 
      Hide
    </button>
    <button clear small *ngIf="hidden" ion-button (click)="toggle()" end> 
        <ion-icon name="settings"> </ion-icon>
    </button>
  </ion-buttons>
  <div *ngIf="!hidden">
    <ion-list>
      <ion-item *ngIf="showReportsOptions">
        <ion-label color="dark" > Map Type </ion-label>
        <ion-select [(ngModel)]="settings.reportType" (ionChange)="reportTypeChanged()">
          <ion-option *ngFor="let report of reportTypes" [selected]="report==reportType" value="{{report}}"> {{report}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <hr/>
    <results-settings *ngIf="reportType=='Results'" [settings]="resultsSettings" (ionChange)="updateResults()"> </results-settings>
    <prediction-settings *ngIf="reportType=='Predictions'" [survey]="survey" (ionChange)="changePrediction()"> </prediction-settings>
    <analysis-settings *ngIf="reportType=='Across Elections'" [settings]="analysisSettings" (ionChange)="reloadAnalysis()"> </analysis-settings>
  </div>
</ion-card>