<ion-card>
  <ion-buttons end>
    <button clear small *ngIf="!hidden" ion-button (click)="toggle()" end> 
      Hide
    </button>
    <button clear small *ngIf="hidden" ion-button (click)="toggle()" end> 
        <ion-icon name="settings"> </ion-icon>
    </button>
  </ion-buttons>

  <ion-item *ngIf="showReportsOptions">
    <ion-label color="dark"> Map Type </ion-label>
    <ion-select [(ngModel)]="reportType" (ionChange)="reportTypeChanged()">
      <ion-option *ngFor="let report of reportTypes" [selected]="report==reportType"> {{report}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-list *ngIf="!hidden">
    <ion-range min="0" max="100" step="20" pin="true" [(ngModel)]="transparency" >
      <ion-icon small range-left name="sunny"></ion-icon>
      <ion-icon range-right name="sunny"></ion-icon>
    </ion-range>
    <!-- 
    <ion-item *ngIf="showMapTypes">
      <ion-label color="dark"> Map Types </ion-label>
      <ion-select [(ngModel)]="mapType" (ionChange)="mapTypeChanged()">
        <ion-option *ngFor="let type of mapTypes" value="{{type}}"> {{type}} </ion-option>
      </ion-select>
    </ion-item>
    -->
    <ion-item text-right *ngIf="showYearRange">
      <span style="float:left"> Election Year</span>
      <ion-badge> {{electionYear}}</ion-badge>
    </ion-item>
    <ion-item *ngIf="showYearRange">
      <ion-range min="{{minYear}}" max="{{maxYear}}" pin="true" [(ngModel)]="electionRangeValue" color="secondary" (ionChange)="electionYearChanged()">
        <ion-label range-left>1999</ion-label>
        <ion-label range-right>2014</ion-label>
      </ion-range>
    </ion-item>
    <ion-item *ngIf="showSelectedConstituenciesOptions">
      <ion-label color="dark"> Constituency </ion-label>
      <ion-select [(ngModel)]="selectedAC" (ionChange)="acSelectionChanged()">
        <ion-option *ngFor="let ac of acs" value="{{ac}}"> {{getAcName(ac)}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="showSelectedWardsOptions">
      <ion-label color="dark"> Ward </ion-label>
      <ion-select [(ngModel)]="selectedWard" (ionChange)="wardSelectionChanged()">
        <ion-option *ngFor="let ward of wards"> {{ward}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <hr/>
  <prediction-settings *ngIf="showPredictions" [survey]="survey"> </prediction-settings>
  <ion-item tappable>
    <button block [disabled]="redrawDisabled" ion-button (click)="redraw()"> Submit </button>
  </ion-item>

</ion-card>