<ion-content>
    <div id="left" #map> </div>
    <div id="right">
        <ion-buttons end>
            <button ion-button icon-only clear (click)="signOut()">
            <ion-icon name="power"></ion-icon>
        </button>
        </ion-buttons>  
        <map-settings *ngIf="showMapSettings" [settings]="settings" (ionChange)="redraw()"> </map-settings>
        <summary *ngIf="showSummary" [results]="results" [acIds]="acIds"> </summary>
        <ac-result *ngIf="showAcResults" [name]="acName" [results]="acResults"> </ac-result>
        <ac-list *ngIf="showSummary" [acs]="acs"> </ac-list>
        <caste-breakup *ngIf="showCasteBreakup"> </caste-breakup>
    </div>
    <div id="legend">
        <legend *ngIf="showLegend"> </legend>
    </div>
</ion-content>