page-home {
    .gmap {
        width: 0%;
        height: 100%;
        float:left;
        overflow: scroll;
    }
    #content, html, body {
        height: 98%;
    }
    #left {
        float: left;
        width: 70%;
        height: 100%;
    }
    #right {
        float: left;
        width: 30%;
        height: 100%;
        overflow: scroll;
    }

    #infoWindow {
        position:absolute;
        left:300px;
        top:300px;
    }
    #legend {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100px;
    }
}
