<ion-content>
    <div id="left" #map> </div>
    <div id="right">
        <ion-buttons end>
            <button ion-button icon-only clear (click)="signOut()">
            <ion-icon name="power"></ion-icon>
        </button>
        </ion-buttons>
        <map-settings *ngIf="showMapSettings" [settings]="settings" (ionChange)="redraw()" (boothAcChange)="boothAcChanged($event)"
            (reportTypeChange)="reportTypeChanged($event)"> </map-settings>
        <summary *ngIf="reportType == 'Results'" [nameIdMap]="nameIdMap" [results]="results" [acIds]="acIds"> </summary>
        <booth-info *ngIf="reportType == 'Booth' && booth != undefined" [booth]="booth" [boothResult]="boothResult" [booth1Result]="booth1Result" [booth2Result]="booth2Result"
            [showBoothResult]="showBoothResult" [showBooth1Result]="showBooth1Result" [showBooth2Result]="showBoothResult"> </booth-info>
        <ac-result *ngIf="showAcResults" [name]="acName" [results]="acResults" [electionYear]="electionYear" [acPrev1Results]="acPrev1Results"
            [prev1Year]="prev1Year" [acPrev2Results]="acPrev2Results" [prev2Year]="prev2Year"> </ac-result>
        <caste-breakup *ngIf="showCasteBreakup"> </caste-breakup>
    </div>
    <div id="legend">
        <legend *ngIf="showLegend"> </legend>
    </div>
</ion-content>