results-settings {
    ion-item {
        margin:0px !important;
        padding: 0px !important;
        border-top: none;
        border-bottom: none;
    }    
    ion-range {
        margin:0px !important;
        padding: 0px !important;
        border-top: none;
        border-bottom: none;
    }
    ion-label {
        margin:0px 10px 0px 10px !important;
        border-top: none;
        border-bottom: none;
        font-size: 14px;    
        text-transform: uppercase;    
        color: green;
    }
}
